<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<title>Hello Spring Security</title>
	<meta charset="utf-8" />
</head>
<body>
	<span th:text="${error}"></span>
	<form th:action="@{/change-password}" method="post">
		<label for="newPassword">New password</label>
		<input type="password" id="newPassword" name="newPassword"> <br/>
		<label for="confirmPassword">Confirm password</label>
		<input type="password" id="confirmPassword" name="confirmPassword" > <br/>
		<input id="submit" type="submit" value="Submit"/>
	</form>
</body>
</html>
