<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<title>Change Your Password</title>
	<meta charset="utf-8" />
	<link href="/default-ui.css" rel="stylesheet">
</head>
<body>
<div class="content">
	<form class="login-form" th:action="@{/change-password}" method="post">
		<h2>Update Your Password</h2>
		<span th:text="${error}"></span>
		<p>
			<label for="updated" class="screenreader">New password</label>
			<input type="password" id="updated" name="updated" placeholder="New Password" autofocus>
		</p>
		<p>
			<label for="confirmed" class="screenreader">Confirm password</label>
			<input type="password" id="confirmed" name="confirmed" placeholder="Confirm Password">
		</p>
		<button type="submit" class="primary">Update</button>
	</form>
</div>
</body>
</html>