<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<title>Change Your Password</title>
	<meta charset="utf-8" />
	<link href="/default-ui.css" rel="stylesheet">
</head>
<body>
<div class="content">
	<form class="login-form" th:action="@{/admin/require-change-password}" method="post">
		<h2>Require a User Update Their Password</h2>
		<span th:text="${error}"></span>
		<p>
			<label for="username" class="screenreader">Username</label>
			<input type="text" id="username" name="username" placeholder="Username" autofocus>
		</p>
		<button type="submit" class="primary">Update</button>
	</form>
</div>
</body>
</html>