<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<title>Hello Admin</title>
	<meta charset="utf-8" />
</head>
<body>
	<h3>Username to Require Password Change:</h3>
	<form th:action="@{/admin/passwords/requireChange}" method="post">
		<label for="username">User Who Must Change Their Password:</label>
		<input type="text" id="username" name="username" > <br/>
		<input type="hidden" name="_csrf" value="${_csrf}"/>
		<input id="submit" type="submit" value="Submit"/>
	</form>
</body>
</html>
